/Lab1Task2/build.xml
/Lab1Task2/manifest.mf
/Lab1Task2/nbproject/build-impl.xml
/Lab1Task2/nbproject/genfiles.properties
/Lab1Task2/nbproject/private/private.properties
/Lab1Task2/nbproject/private/private.xml
/Lab1Task2/nbproject/project.properties
/Lab1Task2/nbproject/project.xml
