/Lab1Task2/build.xml
/Lab1Task2/manifest.mf
/Lab1Task2/nbproject/build-impl.xml
/Lab1Task2/nbproject/genfiles.properties
/Lab1Task2/nbproject/private/private.properties
/Lab1Task2/nbproject/private/private.xml
/Lab1Task2/nbproject/project.properties
/Lab1Task2/nbproject/project.xml
/Lab1Task2/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
*.xml
*.mf
*.properties
JavaApplication6/build/classes/.netbeans_automatic_build
JavaApplication6/build/classes/.netbeans_update_resources
*.class
